.registercontent.container
	.col-12
		.col-lg-12.col-xs-12.details-accordion
			h3 Passenger Details
			button.open(data-toggle='collapse', data-target='#passenger-form')
		#passenger-form.collapse.in
			iframe(height='6500', allowtransparency='true', frameborder='0', style='width:100%;border:none;margin-top: -50px;', src='https://benhulme.wufoo.com/embed/z1vygbj70g58yan/')
				a(href='https://benhulme.wufoo.com/forms/z1vygbj70g58yan/') Fill out my Wufoo form!