<div class="registercontent container">
<div class="col-lg-12 col-xs-12 text-center message hide alert alert-danger">
	<p class="empty hide"><strong>Please enter the required fields below.</strong></p>
	<p class="email hide"><strong>Please enter a valid email address below.</strong></p>
	<p class="invalidPhone hide"><strong>Please enter a valid phone number below.</strong></p>
	<p class="error hide"><strong>Sorry it seems that something went wrong, please contact us and we will assess your case.</strong></p>
</div>
<form class="col-lg-12 col-xs-12" action="" method="post" enctype="multipart/form-data" novalidate>
	<fieldset>
		<% for(var i=0; i< 1 ; i++) {%>
			<% var id= i; %>
			<div class="col-12">
				<div class="col-lg-12 col-xs-12 details-accordion">
					<h3>Passenger <%= (id + 1) %></h3>
					<button data-toggle="collapse" data-target="#passenger<%= id %>" <% if(id == 0) {%> class="open" <% } %></button>
				</div>
					<% include ../template/registerform.ejs %>
			</div>
		<% } %>
		<div class="col-12">
			<div class="col-lg-12 col-xs-12 details-accordion">
				<h3>Passenger 2 %></h3>
				<button data-toggle="collapse" data-target="#passenger2"</button>
			</div>
		</div>
	</fieldset>
<button type="submit" class="btn btn-lg btn-warning text-uppercase pull-right top-buffer col-xs-12 col-sm-12 col-md-2">submit</button>
</form>
	</div>
</div>