include ../template/header

.tripscontent.container
	.col-lg-12.col-xs-12
		.col-12(ng-repeat="item in content.details")
			.col-lg-12.col-xs-12.details-accordion
				h3.text-uppercase= "{{ item[0] }}"
				button(data-toggle='collapse', data-target='#detail-' + "{{$index}}", ng-click="clickAccordion($event)")
			.collapse.col-md-10.col-sm-12.col-xs-12.col-md-offset-1(id='detail-' + "{{$index}}", ng-bind-html="item[1]" )
		a.btn.btn-lg.btn-warning.text-uppercase.pull-right.top-buffer(href='/register') Register Now