include ../template/header

.maincontent.row
    .col-lg-12.text-center.text-uppercase.home-explore
        span explore our destinations
.row.home-thumbs
    - 
    each item in allDestinations
        .col-md-4.col-xs-12.text-center
            img(src= item.thumb[0], alt=item.thumb[1] )
            .overlay
                a(href='/trips/' + item.shortname )
                    p.btn.btn-lg.title.text-center.text-uppercase(class= item.title == 'vip' ? 'invisible' : item.title )= item.title
                a.btn.btn-lg.btn-warning.text-uppercase(href='/register') Register Now
