<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	</style>
</head>
<body>
	<style type="text/css">
		.tg  {border-collapse:collapse;border-spacing:0;}
		.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
		.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
		.tg .tg-yw4l{vertical-align:top}
		.center{ text-align: center; }
		.bg-blue{ background-color: navy;    color: #FFF;    font-weight: : 600;    border: 1px solid #000; }
	</style>
	<table class="tg" style="table-layout: fixed; width: 75%">
		<colgroup>
			<col style="width: 45%">
			<col style="width: 55%;">
		</colgroup>
		<tr><th class"center" style="background-color: navy; font-weight: 600; color: #FFF;border: 1px solid #000">Passenger 1</th></tr>
		<% for (var i = 0; i < passenger1.length; i++) { -%>
		 	<tr>
		    	<th class="tg-031e"><strong><%- fieldName1[i] %></strong></th>
		    	<th class="tg-yw4l"><%- passenger1[i].Value %></th>
		  	</tr>
		<% } -%>
	</table>
	<% if (passenger2.length > 0) { -%>
		<table class="tg" style="table-layout: fixed; width: 75%">
			<colgroup>
				<col style="width: 45%">
				<col style="width: 55%;">
			</colgroup>
			<tr><th class"center" style="background-color: navy; font-weight: 600; color: #FFF;border: 1px solid #000">Passenger 2</th></tr>
				<% for (var i = 0; i < passenger2.length; i++) { -%>
				 	<tr>
				    	<th class="tg-031e"><strong><%- fieldName2[i] %></strong></th>
				    	<th class="tg-yw4l"><%- passenger2[i].Value %></th>
				  	</tr>
				<% } -%>
		</table>
	<% } -%>
</body>
</html>