@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@import "flexLib";

$footer_color: #404040;
$nav_fontsize: 15px;
$baseColor: #FFFFFF;
$home_middleSpan_fontsize: 22px;

*{
  font-family: 'Raleway', sans-serif;
  outline:  none;
}

img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

a.active {
    color: #FFF !important;
}

/**  Header Navigation **/

header {
    font-size: 2rem;

    /**  Navbar **/
    .navbar {
      background: #CF5565;
      margin-bottom: 0;
      border-radius: 0;
      font-weight: bold;
      font-size: $nav_fontsize;
    }
    .navbar-fixed-top{
      position: absolute;
    }

    .navbar-default {
      border: none;
      border-radius: 0;
      padding: 0;
    }
    .navbar-brand > img {
      max-width: 500px;
    }

    a.navbar-brand {
      display: block;
      height: auto;
    }

    .navbar-header {
      height: auto;
    }

    .jumbotron {
        height: auto;
        margin-bottom: 0;
        padding: 0 !important;
        position: relative;
        overflow-x: hidden;

        .overlay{
            @extend .flex-box;
            @extend .flex-justify--center;
            @extend .flex-wrap--on;
            @extend .flex-direction--column;
            @extend .items-align--center;

            *{
              color: $baseColor;
            }

            h1{
              max-width: 70%;
              font-weight: 600;
              letter-spacing: 4px;
              font-size: 4vw;
            }
            h3{
              margin-top: 0;
              font-family: 'Open-Sans',sans-serif;
              font-weight: 300;
              letter-spacing: 2px;
              opacity: 0.7;
              font-size: 1.5vw;
            }

            .btn{
              margin-top: 2em;
              font-weight: 500;
            }
        }

        img {
         display: block;
         max-height: 70vh;
         width: 100%;
       }
    }

     .navbar-inverse {
      border: 0;
      background-color: transparent;
      border: none;
      padding: .75em 0;
    }

    .navbar-nav>li>a {
      color: $baseColor;
    }
}

  .home-explore {
    padding: 4em 5em 3em;
    max-width: 100%;

    span {
      font-size: $home_middleSpan_fontsize;
    }
  }

/*Home Page*/
.row.home-thumbs {
    padding: 0 0 4em;
    max-width: 100%;
    margin: 0;

    p.btn.btn-lg.title {
        background-color: rgba(0,0,0,0.65);
        padding: 1.5em 0;
        //font-size: $home_middleSpan_fontsize;
        font-weight: 500;
        color: $baseColor;
        width: 250px;
        margin: 1.5em 1em 1.25em;
        //letter-spacing: 1.5px;
    }

    div{
        @extend .flex-box;
        @extend .flex-justify--center;
        @extend .flex-wrap--on;
        @extend .flex-direction--column;
        @extend .items-align--center;
    }

    .btn-warning{
        font-size: 15px;
        padding: .5em 3em;
        position: relative;
        bottom: -10px;
    }
    img{
        border-radius: 5px;
    }
}

/*Trips*/

.tripscontent, .registercontent {
    padding: 1em 0;

  .details-accordion {
      padding: 2em 1em;
      background-color: #ddd;
      border-radius: 5px;
      margin: .5em 0;
      position: relative;

      button {
          background-color: transparent;
          border: 2px solid #f28d22;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          position: absolute;
          right: 2em;
          top: 1em;
          color: #f28d22;

          &:after,&:before{
              content: "|";
              font-size: 30px;
              font-weight: 600;
              display: block;
          }
          &:before{
              transform: rotate(90deg);
          }
          &:after{
              position: absolute;
              top: 1.5px;
              left: 19.5px;
              transition: .5s ease-in-out;
          }
        }
      button.open::after{
          transform: rotate(90deg);
      }
      h3 {
          margin: 0;
      }
  }
  .btn{
    font-size: 15px;
  }
}

.registercontent{
    .collapse {
        max-width: 100%;
        margin: 0 auto;
    }
    .form-control {
        border: 2px solid;
        padding: 1.5em;
    }
    .form-group.row{
      margin-bottom: 15px;
    }
    textarea{
      resize: none;
    }
    select.form-control {
        height: 46px;
        padding: 0 1em;
    }
    input[type="date"] {
        padding-left: .75em;
        padding-right: 0;
    }
    input[type="date"]:before {
      content: attr(placeholder) !important;
      color: #aaa;
      margin-right: 0.5em;
    }
    input[type="date"]:focus:before,
    input[type="date"]:valid:before {
      content: "";
    }
}

.form-control.error {
    border-color: rgba(251,34,34,.75);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(249, 0, 0, 0.6);
}

/*Footer*/
footer {
    background-color: $footer_color;
    min-height: 20vh;
    width: 100%;

    div#navbar-footer nav {
        padding: 2em;
        background-color: transparent;
        border: none;
        font-weight: 600;
    }
    .icons {
        button{
          padding: 0 1em;
          display: inline-block;
          background: transparent;
          border: none;
          cursor: pointer;
        }

        img{
          max-width: 50px;
        }
    }
    span{
        color: $baseColor;
        font-family: Arial, 'Sans-Serif';
    }
    .popover-content {background-color: rgba(0,0,0,0.75);color: white;cursor: pointer;padding: 1em 4em .75em !important; font-size: 13px;}

    .popover {
        background-color: rgba(0,0,0,0.75);
    }

    .popover.top>.arrow:after {border-top-color: rgba(0,0,0,0.75);}
}



@media (min-width: 798px){
    .registercontent .collapse {
        max-width: 80%;
    }
    div#navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .navbar-nav>li>a {
        padding-top: .5em;
        padding-bottom: .5em;
    }
    a.text-uppercase.register {
        border: 1px solid;
        padding: .5em 2em;
        border-radius: 5px;
    }
}

@media (max-width: 991px){
    a{
    word-wrap: break-word;
  }
    .row.home-thumbs > div {
        padding: 1em;
    }
    .row.home-thumbs p.btn.btn-lg.title{
        margin-bottom: 1em;
        margin-top: 2em;
    }
    header .navbar-brand>img{
      max-width: 300px;
    }
    .registercontent{
      .form-group div{
        margin: .5em 0;
      }
    }
}

@media (max-width: 768px){
  
    #home header .jumbotron .overlay h1{
      font-size: 5vw;
    }
    header .jumbotron .overlay {
      h1{
        font-size: 12vw;
      }
      h3{
        font-size: 2.5vw;
      }
    }

    nav.navbar.navbar-inverse.navbar-fixed-top {
        background: rgba(0, 0, 0, 0.95);
    }
    button.navbar-toggle {
        margin-right: 1em;

        .icon-bar {
          width: 50px;
          height: 5px;
        }
    }

    header .jumbotron {
        margin-top: 80px;
        padding-top: 3em;
        min-height: 50vh;

        img {
            min-height: 50vh;
            min-width: 1000px;
        }

        .overlay {
            padding-top: 2em;
        }
    }
    header .navbar-nav > li > a{
        margin-left: 2em;
    }
}

@media (max-width: 768px) and (orientation: landscape){
  #home header .jumbotron {
        img {
            min-height: 90vh;
            min-width: 1000px;
        }

        .overlay {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
                -ms-flex-direction: row;
                    flex-direction: row;
        }
    }
    .row.home-thumbs p.btn.btn-lg.title {
        margin-bottom: 3em;
    }
}

@media (max-width: 360px){
  .row.home-thumbs p.btn.btn-lg.title{
    margin-top: 1em;
  }
  .tripscontent .details-accordion h3, .registercontent .details-accordion h3{
    font-size: 18px;
  }
}