.row{
    max-width: 100%;
    margin: 0;
}

.container-fluid{
    padding: 0;
    max-width: 100%;
}

.btn-warning{
    background-color: #f28d22;
    font-weight: 600;

}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.top-buffer{
    margin-top: 20px;
}

@media(max-width: 768px){
    footer .navbar-nav {
        margin-top: 7em;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .text-xs-left { text-align: left; }
    .text-xs-right { text-align: right; }
    .text-xs-center { text-align: center; }
    .text-xs-justify { text-align: justify; }
}

@media (min-width: 768px) {
     .navbar-right{
          display: -ms-flexbox;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex; 


          -ms-flex-pack: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
                  justify-content: center; 


        li{
            text-align: center;
        }
    }
    .text-sm-left { text-align: left; }
    .text-sm-right { text-align: right; }
    .text-sm-center { text-align: center; }
    .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px)  {
    .text-md-left { text-align: left; }
    .text-md-right { text-align: right; }
    .text-md-center { text-align: center; }
    .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
    .text-lg-left { text-align: left; }
    .text-lg-right { text-align: right; }
    .text-lg-center { text-align: center; }
    .text-lg-justify { text-align: justify; }
}