/*Flexbox Framework*/

.flex-box {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; 
}

.flex-justify--center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center; 
}

.flex-justify--end {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end; 
}

.flex-wrap--on {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; 
}

.flex-direction--column{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-direction--row{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
}

.items-align--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; 

}
