
block footer
	footer
		#navbar-footer.row
			nav.navbar.navbar-inverse.col-lg-12
				.col-lg-4.col-md-5.col-sm-5.col-xs-12.text-md-right.text-xs-center.icons.container
					button(data-toggle='popover', data-html='true', data-placement='top', data-trigger='click', data-content=footer[0].phones)
						img(src='/images/icon_phone.png')
					button(data-toggle='popover', data-html='true', data-placement='top', data-trigger='click', data-content=footer[0].emails)
						img(src='/images/icon_mail.png')
				ul.nav.navbar-nav.navbar-right.col-lg-6.col-md-7.col-sm-7
					- 
					each item in allDestinations
						li
							a.text-uppercase(href='/trips/' + item.shortname, class= pageID == item.shortname ? 'active' : '')= item.title
						li.divider(role='separator')
					li
						a.text-uppercase.hidden-xs(href='/register', class= pageID == 'register' ? 'active' : '') Register
					li
						a.text-uppercase(href='http://www.nzme.co.nz/about-us/privacy-policy/', target='_blank') Privacy Policy
					li
						a.text-uppercase(href='http://www.nzme.co.nz/about-us/terms-conditions/', target='_blank') Terms of Use
			span.col-sm-12.col-xs-12.text-center © 2016 NZME Holdings Limited. All rights reserved
