block head
	meta(name='viewport', content='width=device-width, initial-scale=1')
	title(ng-bind="title")
	// Latest compiled and minified CSS
	link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')
	link(rel='stylesheet', href='/css/custom.css')
	link(rel='stylesheet', href='/css/app.css')
	meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab', rel='stylesheet', type='text/css')
	link(rel='icon', type='image/png', href='/images/NZME-logo.png')
