
block header
  - var pageID = "{{content.pageID}}"
  header
    .jumbotron
      img(src="{{ content.cover[0] }}")
      .overlay
        h1.text-uppercase.text-center= "{{content.heading[0]}}"
        h3.text-uppercase.text-center= "{{content.heading[1]}}"
        a.btn.btn-lg.btn-warning.text-uppercase(href='/register', ng-if="content.pageID == 'home'") Register Now
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-collapse.collapse.navbar-collapse
          a.navbar-brand.hidden-xs(href='/')
            img(src="{{content.menu[0]}}", alt="{{content.menu[1]}}")
          ul.nav.navbar-nav.navbar-right
            li
              a.hidden-sm.hidden-md.hidden-lg.text-uppercase.active(href='/', ng-class="content.pageID == item.shortname ? 'active' : ''") Home
            li.divider(role='separator')
            - 
            each item in allDestinations
              li
                a.text-uppercase(href='/trips/' + item.shortname, ng-class="content.pageID == 'home' ? 'active' : 'test'")= item.title
              li.divider(role='separator')
            li
              a.text-uppercase.register(href='/register', ng-class="content.pageID == item.shortname ? 'active' : ''") Register