<div id="passenger<%= id %> " class="collapse <% if(id == 0 || id == 2) {%> in <% } %>">
	<% if (id != 2) { -%>
		<div class="form-group row">
			<div class="col-md-4">
				<select required="required" class="form-control" id="destination<%= id %>" name="destination<%= id %>">
			      <option value="none" selected="selected" disabled>Destinations</option>
			      <% allDestinations.forEach(function(item) { %>
			      		<option value="<%= item.shortname %>" class="text-uppercase"><%= item.title.toUpperCase() %></option>
			      <% }); %>
			    </select>
			</div>
		</div>
	<% } -%>
	<div class="form-group row">
		<div class="col-md-2 col-sm-12 col-xs-12">
			<input class="form-control" type="text" value="" placeholder="Title" id="title<%= id %>" name="title<%= id %>">
		</div>
		<div class="col-md-5 col-sm-12 col-xs-12">
			<input required="required" class="form-control" type="text" value="" placeholder="Last Name" id="lastname<%= id %>" name="lastname<%= id %>">
		</div>
		<div class="col-md-5 col-sm-12 col-xs-12">
			<input class="form-control" required="required" type="text" value="" placeholder="First Name" id="firstname<%= id %>" name="firstname<%= id %>">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-4 col-sm-12 col-xs-12">
			<input class="form-control" type="text" value="" placeholder="Preferred Name" id="preferred<%= id %>" name="preferred<%= id %>">
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<input required="required" class="form-control" type="date" value="" placeholder="D.O.B" id="dob<%= id %>" name="dob<%= id %>">
		</div>
		<div class="col-md-5 col-sm-12 col-xs-12">
			<input class="form-control" type="text" value="" placeholder="Company Name" id="company<%= id %>" name="company<%= id %>">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<input required="required" class="form-control" type="email" value="" placeholder="Email" id="email<%= id %>" name="email<%= id %>">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<input class="form-control" type="text" value="" placeholder="Contact Residential Address" id="address<%= id %>" name="address<%= id %>">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-3 col-sm-12 col-xs-12">
			<input class="form-control" type="phone" value="" placeholder="Work Phone" id="workphone<%= id %>" name="workphone<%= id %>">
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<input class="form-control" type="phone" value="" placeholder="Home Phone" id="homephone<%= id %>" name="homephone<%= id %>">
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<input required="required" class="form-control" type="phone" value="" placeholder="Mobile Phone" id="mobphone<%= id %>" name="mobphone<%= id %>">
		</div>
		<% if (id != 2) { -%>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<input required="required" class="form-control" type="text" value="" placeholder="NZME Account Manager" id="accmanager<%= id %>" name="accmanager<%= id %>">
			</div>
		<% } -%>
	</div>
	<div class="form-group row">
		<div class="col-md-5 col-sm-12 col-xs-12">
			<input required="required" class="form-control" type="text" value="" placeholder="Emergency Contact Name" id="emergencyname<%= id %>" name="emergencyname<%= id %>">
		</div>
		<div class="col-md-5 col-sm-12 col-xs-12">
			<input required="required" class="form-control" type="phone" value="" placeholder="Emergency Contact Phone Number" id="emergencyphone<%= id %>" name="emergencyphone<%= id %>">
		</div>
	</div>
	<div class="form-group row">
		<h1 class="col-md-12">Passport</h1>
		<div class="col-md-4 col-sm-12 col-xs-12">
			<input required="required" class="form-control" type="text" value="" placeholder="Passport Number" id="passport<%= id %>" name="passport<%= id %>">
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12">
			<input required="required" class="form-control" type="date" value="" placeholder="Issue Date" id="issue<%= id %>" name="issue<%= id %>">
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12">
			<input required="required" class="form-control" type="date" value="" placeholder="Expiry Date" id="expiry<%= id %>" name="expiry<%= id %>">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-4 col-sm-12 col-xs-12">
			<input class="form-control" type="text" value="" placeholder="Occupation Number" id="occupation<%= id %>" name="occupation<%= id %>">
		</div>
		<div class="col-md-5 col-sm-12 col-xs-12">
			<input required="required" class="form-control" type="text" value="" placeholder="Nationality As Shown On Passport" id="nationality<%= id %>" name="nationality<%= id %>">
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			<input required="required" class="form-control" type="text" value="" placeholder="Country of Birth" id="Country<%= id %>" name="Country<%= id %>">
		</div>
	</div>
	<div class="form-group row">
		<h1 class="col-md-12">Travel Info</h1>
		<% if (id != 2) { -%>
			<div class="col-md-5 col-sm-12 col-xs-12">
				<input required="required" class="form-control" type="text" value="" placeholder="Which NZ City Will You Be Departing From" id="departure<%= id %>" name="departure<%= id %>">
			</div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<select required="required" class="form-control" id="extendstay<%= id %>" name="extendstay<%= id %>">
					<option value="none" selected="selected" disabled>Do You Wish to extend Your Stay?</option>
					<option value="yes">Yes</option>
					<option value="no">No</option>
				</select>
			</div>
			<div class="col-md-3 col-sm-12 col-xs-12">
				<select required="required" value="none" class="form-control" id="room<%= id %>" name="room<%= id %>">
					<option selected="selected" disabled>Room Type</option>
					<option value="double">Double</option>
					<option value="twin">Twin</option>
					<option value="single">Single</option>
				</select>
			</div>
		<% } -%>
	</div>
	<div class="form-group row">
		<div class="col-md-6 col-sm-12 col-xs-12">
			<input class="form-control" type="text" value="" placeholder="Frequent Flyer Number" id="frenquentflyer<%= id %>" name="frenquentflyer<%= id %>">
		</div>
		<div class="col-md-6 col-sm-12 col-xs-12">
			<select required="required" class="form-control" id="insurance<%= id %>" name="insurance<%= id %>">
				<option value="none" selected="selected" disabled>Would You Like Travel Insurance?</option>
				<option value="yes">Yes</option>
				<option value="no">No</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-3 col-sm-12 col-xs-12">
			<input class="form-control" type="text" value="" placeholder="Special Dietary" id="dietary<%= id %>" name="dietary<%= id %>">
		</div>
		<% if (id != 2) { -%>
			<div class="col-md-5 col-sm-12 col-xs-12">
				<input required="required" class="form-control" type="text" value="" placeholder="Relationship Between Travellers" id="relationship<%= id %>" name="relationship<%= id %>">
			</div>
		<% } -%>
		<div class="col-md-4 col-sm-12 col-xs-12">
			<input class="form-control" type="text" value="" placeholder="Favourite Drink" id="drink<%= id %>" name="drink<%= id %>">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-4 col-sm-12 col-xs-12">
			<input class="form-control" type="text" value="" placeholder="Favourite Chocolate" id="chocolate<%= id %>" name="chocolate<%= id %>">
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12">
			<input class="form-control" type="text" value="" placeholder="Favourite Music Genre" id="music<%= id %>" name="music<%= id %>">
		</div>
		<div class="col-md-4 col-sm-12 col-xs-12">
			<select required="required" class="form-control" id="seasick<%= id %>" name="seasick<%= id %>">
				<option value="none" selected="selected" disabled>Do You Get Sea Sick?</option>
				<option value="yes">Yes</option>
				<option value="no">No</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<textarea class="form-control" rows="3" placeholder="Allergies / Health Issues" id="health<%= id %>" name="health<%= id %>"></textarea>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<textarea class="form-control" rows="3" placeholder="Further Comments" id="comments<%= id %>" name="comments<%= id %>"></textarea>
		</div>
	</div>
</div>